TastyByte.xcodeproj/xcuserdata/christianhernandezrivera.xcuserdatad/xcschemes/xcschememanagement.plist
TastyByte.xcodeproj/project.xcworkspace/xcuserdata/christianhernandezrivera.xcuserdatad/UserInterfaceState.xcuserstate
